<div class="g-recaptcha" data-sitekey="{{ google_recaptcha_auth_sitekey }}"></div>
<p class="help-block">{{ google_recaptcha_messages_helptext }}</p>
<script src='{{ google_recaptcha_api }}?hl={{ google_recaptcha_locale }}'></script>
